region             = "{{CLOUD_REGION}}"
access_key         = "{{CLOUD_ACCESS_KEY}}"
secret_key         = "{{CLOUD_SECRET_KEY}}"
availability_zones = [{{CLOUD_AZS}}]
cluster_name       = "{{CLOUD_CLUSTER_NAME}}"
cluster_version    = "{{CLOUD_CLUSTER_VERSION}}"
node_count         = {{CLOUD_NODE_COUNT}}
node_instance_type = "{{CLOUD_NODE_INSTANCE_TYPE}}"
key_pair_name      = "{{CLOUD_KEY_PAIR_NAME}}"
